<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PowerLog"
    android:versionCode="5"
    android:versionName="1.0.5">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:largeHeap="true"
        android:name="com.PowerLog.Common.DynamicCare"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.PowerLog.Activity.Administrator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.PowerLog.Fragment.Administrator.ModifyAdmin"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.PowerLog.Fragment.Administrator.Authentification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.PowerLog.Activity.Main" />
        <activity
            android:name="com.PowerLog.Activity.QRlink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.PowerLog.Activity.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.PowerLog.Activity.Login"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.PowerLog.Common.Util.UsbService"
            android:enabled="true"></service>
    </application>

</manifest>