<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dynamiccare_kisok">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Common.DynamicCare"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.ModifyAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Authentification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Main" />
        <activity
            android:name=".Activity.QRlink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name="com.example.dynamiccare_kisok.Common.Util.UsbService"
            android:enabled="true">
        </service>
    </application>

</manifest>